[submodule "external/registries"]
	path = external/registries
	url = https://github.com/ISDCF/registries.git
[submodule "themes/isdcf"]
	path = themes/isdcf
	url = https://github.com/ISDCF/isdcf-hexo-theme.git
