<article class="post post--full">
  <header class="post__header">
    <h1 class="post__title"><%= page.title || '(untitled)' %></h1>
  </header>
  <div class="post__content">
    <%- page.content %>
  </div>
</article>
